### Task : Cleaning twitter data from file Climate_change.csv

In [530]:
#Importing Dependencies 
import csv
import pandas as pd
import numpy as np
from datetime import datetime

#Importing the below block to display all outputs 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [531]:
%%time
#Importing the csv file as individual lines hence the formatting was incorrect
with open("climate-change.csv", 'r', encoding="utf8") as csv_file: 
    csv_reader = csv.reader(csv_file, delimiter=',')
    df = pd.DataFrame([csv_reader])

Wall time: 3min 58s

In [532]:
#Displaying the DataFrame
df.head()

,0,1,2,3,4,5,6,7,8,9,...,3481054,3481055,3481056,3481057,3481058,3481059,3481060,3481061,3481062,3481063
0,"[date, user, is_retweet, is_quote, text, quote...","[2021-09-26 00:52:18, YouHalal, False, True, #...",[https://t.co/A2uEPWAVnc https://t.co/tLGO9h3Xq5],"[2021-09-26 00:52:18, FilmonKiros7, True, True...",[],"[Investing in clean, affordable energy for al...","[2021-09-26 00:52:21, fractalwhats, True, True...","[2021-09-26 00:52:22, alicanovinta, True, Fals...","[2021-09-26 00:52:22, ssajoony, True, True, RT...",[],...,[@Chellaney @ipacglobal @nathanlawkc @ClimateR...,"[2021-10-28 14:00:00, SSGcoop, False, False, C...","[2021-10-28 14:00:00, onuvenezuela, False, Fal...",[Caminar o andar en bicicleta ayuda a:],[✅ Reducir las emisiones de gases de efecto in...,[✅ Luchar contra la obesidad],[✅ Mejorar la calidad del aire],[➕ info sobre la #COP26 ⬇️],[https://t.co/jR1LRs6u3Y https://t.co/C1yDAiKT...,"[2021-10-28 14:00:00, underbite, True, False, ..."

In [533]:
#Transpoding the df and changing the column name of ease of readability
Transposed_df = df.T
Transposed_df.rename(columns={0:'RawText'}, inplace=True)
Transposed_df.head()

                                             RawText
0  [date, user, is_retweet, is_quote, text, quote...
1  [2021-09-26 00:52:18, YouHalal, False, True, #...
2  [https://t.co/A2uEPWAVnc https://t.co/tLGO9h3Xq5]
3  [2021-09-26 00:52:18, FilmonKiros7, True, True...
4                                                 []

In [534]:
#Deleting Rows which are empty rows which represents empty lines
Transposed_df = Transposed_df[Transposed_df['RawText'].map(lambda d: len(d)) > 0]
Transposed_df.head()
Transposed_df.shape

                                             RawText
0  [date, user, is_retweet, is_quote, text, quote...
1  [2021-09-26 00:52:18, YouHalal, False, True, #...
2  [https://t.co/A2uEPWAVnc https://t.co/tLGO9h3Xq5]
3  [2021-09-26 00:52:18, FilmonKiros7, True, True...
5  [Investing in clean,  affordable energy for al...

(2841615, 1)

--------------------------------------------------------------------------------------------------------------------------
**Upon investagating the raw file we can see that if a tweet has commas or if the tweet was in multiple lines the file formatted considered it as a new column value or a new line respectively Keeping that in mind below are the steps to format it right**
    1. If a tweet was seperated into multiple columns for having a comma bring them together to make it a single string.
    2. If a tweet was sperated into multiple lines even those had to be combined into a single line.

In [535]:
#Storing Column Headers
Column_headers = Transposed_df.loc[0][0]
print(Column_headers)

['date', 'user', 'is_retweet', 'is_quote', 'text', 'quoted_text']

In [536]:
#Deleting first header row
Transposed_df = Transposed_df.iloc[1: , :]
Transposed_df.reset_index(inplace=True, drop=True)

In [537]:
#Function to check if the first value in the list is a date and return date if true and return empty string if not 
def timecheck(value):
    try:
        if type(datetime.strptime(value[0],'%Y-%m-%d %H:%M:%S')) == type(now):
            return value[0]
        else:
            return ''
    except:
        return ''

In [538]:
%%time
# Applying the above function to check if the first value of the list in each line is a date 
# as that denotes the start of the line of a new tweet
Transposed_df['date'] = Transposed_df['RawText'].apply(lambda x: timecheck(x))
Tweet_Rows = Transposed_df[Transposed_df['date'] != ''].index.tolist() #Saving the index of starting rows of tweets for future use

Wall time: 26.2 s

In [539]:
#Investigating on the maximum columns the tweet has spread out due to commas in the tweet string
Transposed_df['list_len'] = Transposed_df['RawText'].apply(lambda x: len(x))
max(Transposed_df['list_len'])

28

In [540]:
Transposed_df.head(10)

,RawText,date,list_len
0,"[2021-09-26 00:52:18, YouHalal, False, True, #...",2021-09-26 00:52:18,6
1,[https://t.co/A2uEPWAVnc https://t.co/tLGO9h3Xq5],,1
2,"[2021-09-26 00:52:18, FilmonKiros7, True, True...",2021-09-26 00:52:18,6
3,"[Investing in clean, affordable energy for al...",,3
4,"[2021-09-26 00:52:21, fractalwhats, True, True...",2021-09-26 00:52:21,7
5,"[2021-09-26 00:52:22, alicanovinta, True, Fals...",2021-09-26 00:52:22,7
6,"[2021-09-26 00:52:22, ssajoony, True, True, RT...",2021-09-26 00:52:22,5
7,[#BTS],,1
8,[#ARMY],,1
9,[#BTSonGMA],,1

In [541]:
Tweet_Rows[:10]
len(Tweet_Rows)

[0, 2, 4, 5, 6, 15, 16, 18, 19, 20]

1615429

In [542]:
#Exploring a row which has list length more than 6
Transposed_df['RawText'][4]

['2021-09-26 00:52:21',
 'fractalwhats',
 'True',
 'True',
 'RT @KAG45Patriot: Having anxiety over the weather',
 ' something they have zero control over is stupid.',
 'Imagine having climate change anxiety lol https://t.co/wEfKGINzqa']

In [543]:
#The above example shows if a tweet has commas then the string after the delimiter was considered as a new cell value
# Creating a new column which captures all these values into one single column
Individual_tweets =  Transposed_df.loc[Tweet_Rows]     #First creating a copy of this df for processing

In [544]:
print(Transposed_df.shape)
print(Individual_tweets.shape)

(2841614, 3)
(1615429, 3)

In [545]:
Individual_tweets.head()

,RawText,date,list_len
0,"[2021-09-26 00:52:18, YouHalal, False, True, #...",2021-09-26 00:52:18,6
2,"[2021-09-26 00:52:18, FilmonKiros7, True, True...",2021-09-26 00:52:18,6
4,"[2021-09-26 00:52:21, fractalwhats, True, True...",2021-09-26 00:52:21,7
5,"[2021-09-26 00:52:22, alicanovinta, True, Fals...",2021-09-26 00:52:22,7
6,"[2021-09-26 00:52:22, ssajoony, True, True, RT...",2021-09-26 00:52:22,5

In [546]:
#Creating Empty columns to input the spilled texts
Individual_tweets["nextcolTweets"] = ''
Individual_tweets["nextLineTweets"] = ''

In [547]:
%%time
# Concataniting the column spill of texts into one single string.
Individual_tweets['nextcolTweets'] = Individual_tweets['RawText'].apply(lambda x: ' '.join(x[6:len(x)]) if(len(x)>6) else '')

Wall time: 759 ms

In [548]:
print("Number of tweet strings spilled to other columns : ", (Individual_tweets['nextcolTweets'].values != '').sum())

No of tweet strings spilled to other columns :  382473

In [549]:
Individual_tweets.head() #Displaying the O/P

,RawText,date,list_len,nextcolTweets,nextLineTweets
0,"[2021-09-26 00:52:18, YouHalal, False, True, #...",2021-09-26 00:52:18,6,,
2,"[2021-09-26 00:52:18, FilmonKiros7, True, True...",2021-09-26 00:52:18,6,,
4,"[2021-09-26 00:52:21, fractalwhats, True, True...",2021-09-26 00:52:21,7,Imagine having climate change anxiety lol http...,
5,"[2021-09-26 00:52:22, alicanovinta, True, Fals...",2021-09-26 00:52:22,7,,
6,"[2021-09-26 00:52:22, ssajoony, True, True, RT...",2021-09-26 00:52:22,5,,

In [550]:
#Now that the Column spill is taken care of lets fix the next line spill
Transposed_df.head() #Displaying the main df

,RawText,date,list_len
0,"[2021-09-26 00:52:18, YouHalal, False, True, #...",2021-09-26 00:52:18,6
1,[https://t.co/A2uEPWAVnc https://t.co/tLGO9h3Xq5],,1
2,"[2021-09-26 00:52:18, FilmonKiros7, True, True...",2021-09-26 00:52:18,6
3,"[Investing in clean, affordable energy for al...",,3
4,"[2021-09-26 00:52:21, fractalwhats, True, True...",2021-09-26 00:52:21,7

In [551]:
#Creating an array of row indexes and next index which will be used to concatnate rows data if spilled.
len(Tweet_Rows)
inc_Tweet_Rows = Tweet_Rows[1:]
inc_Tweet_Rows.append(Tweet_Rows[-1]) ## Appending the last element 
len(inc_Tweet_Rows)
Tweet_Rows[0:10]
inc_Tweet_Rows[0:10]

1615429

1615429

[0, 2, 4, 5, 6, 15, 16, 18, 19, 20]

[2, 4, 5, 6, 15, 16, 18, 19, 20, 23]

In [379]:
#Creating a list of 
# arrayvalue = np.array([Tweet_Rows,inc_Tweet_Rows]).T
#Individual_tweets["npArray"] = pd.Series(arrayvalue.tolist()) # This line doesnt work for last rows unsure why hence the approach in next lines

In [552]:
#Putting them into the dataframe column for lookup
Individual_tweets["StartRow"] = Tweet_Rows
Individual_tweets["EndRow"] = inc_Tweet_Rows

In [553]:
#Combining these two into an array for lookup
Individual_tweets["indexArray"] = Individual_tweets[["StartRow", "EndRow"]].values.tolist()
Individual_tweets.tail()

,RawText,date,list_len,nextcolTweets,nextLineTweets,StartRow,EndRow,indexArray
2841599,"[2021-10-28 14:00:00, Uminootoko_hide, False, ...",2021-10-28 14:00:00,5,,,2841599,2841602,"[2841599, 2841602]"
2841602,"[2021-10-28 14:00:00, yd_tweets, False, False,...",2021-10-28 14:00:00,5,,,2841602,2841605,"[2841602, 2841605]"
2841605,"[2021-10-28 14:00:00, SSGcoop, False, False, C...",2021-10-28 14:00:00,8,and policy wonks at #COP26! Join us on Nov. 3...,,2841605,2841606,"[2841605, 2841606]"
2841606,"[2021-10-28 14:00:00, onuvenezuela, False, Fal...",2021-10-28 14:00:00,5,,,2841606,2841613,"[2841606, 2841613]"
2841613,"[2021-10-28 14:00:00, underbite, True, False, ...",2021-10-28 14:00:00,6,,,2841613,2841613,"[2841613, 2841613]"

In [554]:
# Performing a lookup to move the values into the main df 
Transposed_df["indexArray"] = Transposed_df.index.map(Individual_tweets["indexArray"]) 
Transposed_df.head()
Transposed_df.tail()

,RawText,date,list_len,indexArray
0,"[2021-09-26 00:52:18, YouHalal, False, True, #...",2021-09-26 00:52:18,6,"[0, 2]"
1,[https://t.co/A2uEPWAVnc https://t.co/tLGO9h3Xq5],,1,NaN
2,"[2021-09-26 00:52:18, FilmonKiros7, True, True...",2021-09-26 00:52:18,6,"[2, 4]"
3,"[Investing in clean, affordable energy for al...",,3,NaN
4,"[2021-09-26 00:52:21, fractalwhats, True, True...",2021-09-26 00:52:21,7,"[4, 5]"

,RawText,date,list_len,indexArray
2841609,[✅ Luchar contra la obesidad],,1,NaN
2841610,[✅ Mejorar la calidad del aire],,1,NaN
2841611,[➕ info sobre la #COP26 ⬇️],,1,NaN
2841612,[https://t.co/jR1LRs6u3Y https://t.co/C1yDAiKT...,,2,NaN
2841613,"[2021-10-28 14:00:00, underbite, True, False, ...",2021-10-28 14:00:00,6,"[2841613, 2841613]"

In [555]:
# Creating a function which concatnated the strings in multiple lines into one and adding it to one cell 
def getnextlinetweets(pointer):
    return ' '.join([j for i in Transposed_df.RawText[pointer[0]+1:pointer[1]] for j in i])

In [556]:
%%time
# Performing the concat to captur the data on a new row.
Transposed_df["nextLineTweets"] = Transposed_df["indexArray"].apply(lambda x: getnextlinetweets(x) if(type(x) == list) else '')

Wall time: 2min 5s

In [557]:
#Look's up values in nextcolTweets to main df
Transposed_df["nextcolTweets"] = Transposed_df.index.map(Individual_tweets["nextcolTweets"])

In [558]:
Transposed_df.head()
Transposed_df.tail()

,RawText,date,list_len,indexArray,nextLineTweets,nextcolTweets
0,"[2021-09-26 00:52:18, YouHalal, False, True, #...",2021-09-26 00:52:18,6,"[0, 2]",https://t.co/A2uEPWAVnc https://t.co/tLGO9h3Xq5,
1,[https://t.co/A2uEPWAVnc https://t.co/tLGO9h3Xq5],,1,NaN,,NaN
2,"[2021-09-26 00:52:18, FilmonKiros7, True, True...",2021-09-26 00:52:18,6,"[2, 4]",Investing in clean affordable energy for all ...,
3,"[Investing in clean, affordable energy for al...",,3,NaN,,NaN
4,"[2021-09-26 00:52:21, fractalwhats, True, True...",2021-09-26 00:52:21,7,"[4, 5]",,Imagine having climate change anxiety lol http...

,RawText,date,list_len,indexArray,nextLineTweets,nextcolTweets
2841609,[✅ Luchar contra la obesidad],,1,NaN,,NaN
2841610,[✅ Mejorar la calidad del aire],,1,NaN,,NaN
2841611,[➕ info sobre la #COP26 ⬇️],,1,NaN,,NaN
2841612,[https://t.co/jR1LRs6u3Y https://t.co/C1yDAiKT...,,2,NaN,,NaN
2841613,"[2021-10-28 14:00:00, underbite, True, False, ...",2021-10-28 14:00:00,6,"[2841613, 2841613]",,

In [559]:
# Deleting all the extra lines and creating a copy of new df
PartiallyCleaned = Transposed_df[Transposed_df["date"] != '']
PartiallyCleaned.head(5)

,RawText,date,list_len,indexArray,nextLineTweets,nextcolTweets
0,"[2021-09-26 00:52:18, YouHalal, False, True, #...",2021-09-26 00:52:18,6,"[0, 2]",https://t.co/A2uEPWAVnc https://t.co/tLGO9h3Xq5,
2,"[2021-09-26 00:52:18, FilmonKiros7, True, True...",2021-09-26 00:52:18,6,"[2, 4]",Investing in clean affordable energy for all ...,
4,"[2021-09-26 00:52:21, fractalwhats, True, True...",2021-09-26 00:52:21,7,"[4, 5]",,Imagine having climate change anxiety lol http...
5,"[2021-09-26 00:52:22, alicanovinta, True, Fals...",2021-09-26 00:52:22,7,"[5, 6]",,
6,"[2021-09-26 00:52:22, ssajoony, True, True, RT...",2021-09-26 00:52:22,5,"[6, 15]",#BTS #ARMY #BTSonGMA 💜 .@ABC NEWS EXCLUSIVE: @...,

In [560]:
#Extracting useful columns only
Column_headers

['date', 'user', 'is_retweet', 'is_quote', 'text', 'quoted_text']

In [561]:
#Moving the data from main RawText into individual columns
PartiallyCleaned["user"] = PartiallyCleaned.RawText.apply(lambda x: x[1])
PartiallyCleaned["is_retweet"] = PartiallyCleaned.RawText.apply(lambda x: x[2])
PartiallyCleaned["is_quote"] = PartiallyCleaned.RawText.apply(lambda x: x[3])
PartiallyCleaned["text"] = PartiallyCleaned.RawText.apply(lambda x: x[4])
PartiallyCleaned["quoted_text"] = PartiallyCleaned.RawText.apply(lambda x: x[5] if (len(x) > 5) else '')

C:\Users\mr081025\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\mr081025\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\mr081025\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\mr081025\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\mr081025\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [562]:
#Deleting unwanted rows
PartiallyCleaned = PartiallyCleaned[['date', 'user', 'is_retweet', 'is_quote', 'text', 'quoted_text','nextLineTweets','nextcolTweets']]
PartiallyCleaned.head()

,date,user,is_retweet,is_quote,text,quoted_text,nextLineTweets,nextcolTweets
0,2021-09-26 00:52:18,YouHalal,False,True,#News #Trends #Data https://t.co/YyxQ75qppg,Americans are less concerned – but more divide...,https://t.co/A2uEPWAVnc https://t.co/tLGO9h3Xq5,
2,2021-09-26 00:52:18,FilmonKiros7,True,True,RT @GebremariamAng1: Do you realize that civil...,How we produce and use energy is the main caus...,Investing in clean affordable energy for all ...,
4,2021-09-26 00:52:21,fractalwhats,True,True,RT @KAG45Patriot: Having anxiety over the weather,something they have zero control over is stupid.,,Imagine having climate change anxiety lol http...
5,2021-09-26 00:52:22,alicanovinta,True,False,RT @AndrewDessler: In the last few years,I've noticed that students in my class often ...,,
6,2021-09-26 00:52:22,ssajoony,True,True,RT @GMA: FULL INTERVIEW: https://t.co/R3ErmHl5nm,,#BTS #ARMY #BTSonGMA 💜 .@ABC NEWS EXCLUSIVE: @...,

In [563]:
PartiallyCleaned.tail()

,date,user,is_retweet,is_quote,text,quoted_text,nextLineTweets,nextcolTweets
2841599,2021-10-28 14:00:00,Uminootoko_hide,False,False,週末のCOP26に向けビリーアイリッシュが、参加者向けにハッパをかけた様です。,,我々の草の根活動も尊いですが、やっぱり影響力のある人がやってくれると、良いなと思った次第です...,
2841602,2021-10-28 14:00:00,yd_tweets,False,False,A gentle reminder for all the leaders attendin...,,Roof of the World melting rapidly by @trtworld...,
2841605,2021-10-28 14:00:00,SSGcoop,False,False,Calling all city planners,councillors,,and policy wonks at #COP26! Join us on Nov. 3...
2841606,2021-10-28 14:00:00,onuvenezuela,False,False,El #ODS3: Salud y Bienestar y el cambio climático,,Caminar o andar en bicicleta ayuda a: ✅ Reduci...,
2841613,2021-10-28 14:00:00,underbite,True,False,RT @MikeHudema: The endangered blue whale is t...,,,

In [564]:
#Saving The file for NLP cleaning
PartiallyCleaned.reset_index(inplace=True, drop=True)
PartiallyCleaned.to_csv("Climate_change_ImportableFormat.csv", index=False)

In [566]:
#Reading the file back to test import
formatted = pd.read_csv("Climate_change_ImportableFormat.csv", keep_default_na=False,  dtype=object)
formatted.head()

,date,user,is_retweet,is_quote,text,quoted_text,nextLineTweets,nextcolTweets
0,2021-09-26 00:52:18,YouHalal,False,True,#News #Trends #Data https://t.co/YyxQ75qppg,Americans are less concerned – but more divide...,https://t.co/A2uEPWAVnc https://t.co/tLGO9h3Xq5,
1,2021-09-26 00:52:18,FilmonKiros7,True,True,RT @GebremariamAng1: Do you realize that civil...,How we produce and use energy is the main caus...,Investing in clean affordable energy for all ...,
2,2021-09-26 00:52:21,fractalwhats,True,True,RT @KAG45Patriot: Having anxiety over the weather,something they have zero control over is stupid.,,Imagine having climate change anxiety lol http...
3,2021-09-26 00:52:22,alicanovinta,True,False,RT @AndrewDessler: In the last few years,I've noticed that students in my class often ...,,
4,2021-09-26 00:52:22,ssajoony,True,True,RT @GMA: FULL INTERVIEW: https://t.co/R3ErmHl5nm,,#BTS #ARMY #BTSonGMA 💜 .@ABC NEWS EXCLUSIVE: @...,